@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation bounce */
@keyframes bounce {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Classe pour appliquer l'animation bounce */
.bounce-animation {
  animation: bounce 0.5s forwards;
}
