@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation bounce */
@keyframes bounce {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Classe pour appliquer l'animation bounce */
.bounce-animation {
  animation: bounce 0.5s forwards;
}

/* Animation pour l'apparition (fade-in) */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation pour la disparition (fade-out) */
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

/* Appliquer l'animation fade-in */
.fade-in {
  animation: fadeInUp 2s ease-in-out forwards;
}

/* Appliquer l'animation fade-out */
.fade-out {
  animation: fadeOutDown 2s ease-in-out forwards;
}

/* Token style */
.bg-green-500 {
  background-color: #48bb78; /* Vert pour les tokens rachetés */
}

.bg-red-500 {
  background-color: #f56565; /* Rouge pour les tokens brûlés */
}
