@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader Spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00f; /* Blue */
  border-top-color: #0f0; /* Green */
  border-right-color: #f0f; /* Pink */
  border-bottom-color: #ff0; /* Yellow */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
