---
import Layout from '../../../../../layouts/Layout.astro';
import AppLedger from '../../../../../components/apps/ledger/src/AppLedger';
import { getStaticPaths } from './index';

export { getStaticPaths };
---

<Layout title="Ledger App">
  <div id="root">
    <AppLedger client:only="react" />
  </div>
</Layout>
