---
import Layout from '../../../../../layouts/Layout.astro';
import AppLibrary from '../../../../../components/apps/library/src/AppLibrary';
import { getStaticPaths } from './index';

export { getStaticPaths };
---

<Layout title="Library App">
  <div id="root">
    <AppLibrary client:only="react" />
  </div>
</Layout>
