---
import Layout from '../../../../../layouts/Layout.astro';
import AppMarketplace from '../../../../../components/apps/marketplace/src/AppMarketplace';
import { getStaticPaths } from './index';

export { getStaticPaths };
---

<Layout title="Marketplace App">
  <div id="root">
    <AppMarketplace client:only="react" />
  </div>
</Layout>
