---
import Layout from '../../../../../layouts/Layout.astro';
import AppNftData from '../../../../../components/apps/nft-data/src/AppNftData';
import { getStaticPaths } from './index';

export { getStaticPaths };
---

<Layout title="Nft-Data App">
  <div id="root">
    <AppNftData client:only="react" />
  </div>
</Layout>
