name: publish

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Publish dApps
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Node v16
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Authenticate with private NPM package
        run: echo "//npm.pkg.github.com//:_authToken=${{ secrets.GITHUB_TOKEN }}" > ~/.npmrc

      - name: Install Dependencies
        run: npm install

      - name: Bootstrap Packages
        run: npm run bootstrap

      - name: Run build
        run: npm run build:all

      - name: Create .ZIP Archive of the build
        run: zip -r dist.zip dist

      - name: Upload dApps to Release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist.zip
          tag: 'dapps-latest-build'
          overwrite: true
          body: 'Automatically built files of dApps Monorepo'
